<div class='haiku-home'>
  <h1>Haiku Heaven</h1>
  <div class=poems>
      <p class="description">
        <b>Ethereal Thoughts in Prose</b>
      </p>

      <p>
        From time to time
        </br>
        The clouds give rest
        </br>
        To the moon-beholders
        </br>
        - Matsuo Basho
      </p>
  </div>

  <img src="https://www.walldevil.com/wallpapers/w10/planets-moon-clouds-stars-night-black-white.jpg"
   alt="Haiku Picture" width=600 height=300 class="pic" />

  <p>
    The heavens become
    <br>
    a celestial canvas-
    <br>
    brushed in crimson lights.
  </p>

  <br>
  <center>
    <img src="https://lh3.googleusercontent.com/4--ZXFSSn32utyWGSTOhlK_wDzumAqU1uH3LEzxnWPKdY1Yjk_8B4CpE8MDe0sqbutOTY0Bb5LJj9iMn9V8L-wyqTB2I8Vf0N8po4IH8-v3N1scZ79-SDTJb3jNdiN4vgo98X4siQ1aibN7eily9uuq9gXlqZJ7dpa0q9uqo-8hiNrRMP9UB7VIDyy_vULQrxbKyFMxfkb_pVh0q4GqH9KLzQY89klE3t1Vt3gYXXcQ5VeV0n8zM1aELDadV2YEcOAaCsIa_6o3J6avmydDiuDi_FmFRb0n1owd6ZoqloEcNxgbYTzc4ZiotWquiP9e6HHo2M6hx5GYLiUmsMxa-v_q22xEG8cNnw_w5ForGc3HdE1Ro6L83HnCxqk9Ux_A_u7GOHbBBZXxhdQ14rxtsI5Pe9CPrw61N-_6snzMtW4DdRFwFV0A_zoGwxcVf9AbBrafuySVhno5QdCu-E0MhmEPUXlIk69Lc7QXPD52sojszlronseTtjftYvIyhq_RaIem--M4jc6pxMkCyOyvdwtPcXhgrycnmibUGiU7Q4AFRgamcWcGyCHoTZaFyRCRxGZr4dT628ikziVtG0I13y0t5Rggn9Mxz4CCFILiq0FmnWex8EhY=s640-no" alt="sunset" width=400 height=400/>
  </center>

  <br>
  <p>
    Writing a haiku requires a peaceful atmosphere, a clear mind, and good music. Listen below to one of our favorite artists who can <b>inspire</b> anyone to write!
  </p>

  <center>
    <iframe width="520" height="415" src="https://www.youtube.com/embed/0xfG-dJFbxc" frameborder="0" allowfullscreen>
    </iframe>
  </center>
</div>