<div class='haiku-new'>
  <h1>
    <span style="color:darkgreen;">
      To Haiku, To You
    </span>
  </h1>

  <div style=background-color: #DAEE13;>
    <h3> Are you up for the test? Bring your Best!</h3>

    <div style="text-align: center">
      <img src="https://www.readcwbooks.com/books.jpg" width="125" />
    </div>

    <h4>
      We are delving into the mysteries of Haikus with this challenge
    </h4>

    <p> Here is a perfect example:</p>

    <h5>Welcome to Haikus</h5>
    <h5>When submitting your Haiku</h5>
    <h5>Bring the best of You</h5>

    <p>
      Try it for yourself and we will be the judge! To see if you have what it takes to be a
      HAIKU MASTER, just send in your haiku in the form below and submit. Don't forget your
      email address.
      <h2>Happy Haiku Hunting</h2>
    </p>
  </div>

  <form>
    <textarea name="message" rows="8" cols="30">
    </textarea>
    <br/>
    <input type="email" name="email">e-mail
    <br/>
    <input type="submit" value="Submit">
  </form>

  <h6>
    Any questions or comments feel free to
    <a href="mail to:msnickole@gmail.com">email</a>
    us.
  </h6>
</div>
