<h1><%= @title %></h1>

<p>This page will show anyone how to write a haiku</p>

<h2> Here are the rules for making a haiku</h2>

<ul>
  <li>There are only three lines, totaling 17 syllables.</li>
  <li>The first line is 5 syllables.</li>
  <li>The second line is 7 syllables.</li>
  <li>The third line is 5 syllables like the first.</li>
  <li>
    Punctuation and capitalization are up to the poet, and need not follow rigid rules used in structuring sentences.
  </li>
  <li>A haiku does not have to rhyme, in fact usually it does not rhyme at all.</li>
  <li>Some haiku can include the repetition of words or sounds.</li>
  <li>
    <img
      src="https://image.slidesharecdn.com/haiku-141113050207-conversion-gate01/95/haiku-9-638.jpg"
      width= "50" />
  </li>
</ul>
