<div class='user-edit'>
    <h1>This page is used to edit user info</h1>
    <h3><%=@user.name%></h3>
         <p><%=@user.bio%></p>
        <% if current_user.id == @user.id %>
            <p><a href="<%=edit_user_path(@user.id)%>" class="btn btn-primary" role="button">Edit Profile</a></p>
        <% end %>
</div>