body {
    font-family: 'Anton', sans-serif;
    margin: auto;
    color: #3E76C5;
}
.top {
    background-color: #F25266;
    border: #666561 solid 1em;
}

h1 {
    color:#F4EF6B;
    text-align: center;
    text-shadow: 
    1px 2px 0px #666561,
    2px 3px 15px #EDEDED;
}

.middle {
    background-color:#ECECEC;
    border-left: #666561 1em  solid;
    border-right: #666561 1em solid;
}


.bottom {
    background-color:#F25266;
    border: #666561 solid 1em;
}

ul {
    list-style: none;
    column-count: 10;
}


a:link {
    color: #6DBF2E;
}

a:visited {
    color: #6DBF2E;
}

a:hover { 
    color: yellow;
}

.movedown {
    margin-top: -1.97em;
    border-color: #666561;
}

.midbackground {
    background-color:#666561;
}

.subone{
    width: 100%;
    background-color: #3E76C5;
}

.incolor{
    color:red;
}