body {
    font-family: 'Anton', sans-serif;
    margin: auto;
}
.top {
    background-color: #F25266;
    border: #666561 solid 1em;
}

h1 {
    color:#F4EF6B;
    text-decoration: underline;
    text-align: center;
}

.middle {
    background-color:#ECECEC;
    border-left: #666561 1em  solid;
    border-right: #666561 1em solid;
}

form > label{
    color: #2E90BF;
}


form > input {
    background-color: #2E90BF;
    border-color: #666561;
    width: 14.2%;
}

#button_one {
    font-family: 'Anton', sans-serif;
    color:#FFF;
    background: #2E90BF;
    border-color: #000;
    height: 2em;
    width: 100%;
    font-size: 1em;
    cursor: pointer;
    margin-top: 1em;
    transform: translateY(-0.em) translateX();
}

#button_one:active {
  background-color: #2E90BF;
  transform: translateY(4px);
}

.bottom {
    background-color:#F25266;
    border: #666561 solid 1em;
}

ul {
    list-style: none;
    column-count: 10;
}

a:link {
    color: #6DBF2E;
}

a:visited {
    color: #6DBF2E;
}

a:hover { 
    color: yellow;
}